<h1><%= @chapter.title %></h1>
<ul>
<% @chapter.lessons.each do |lesson|%>
   <li><a href="/courses/<%=@course.id%>/chapters/<%=@chapter.id%>/lessons/<%=lesson.id%>"><%=lesson.title%> - <%=lesson.passed%></a></li>
<% end %>
</ul>