<ul>
<h1> Curriculum </h1>
<% @courses.each do |course| %>
    <li>
    <%= course.title %> - <%= course.passed %>
    <ul>
    <div>
    <% course.chapters.each do |chapter| %>
        <li><a href="courses/<%=course.id%>/chapters/<%=chapter.id%>"><%= chapter.title %> - <%= chapter.passed%></li>
    <% end %>  
    </div>
    </ul>
    </li>
   <% end %>
</ul>