
<h1> Curriculum </h1>
<% if !@courses.empty? %> 
<ol>
    <% @courses.each do |course| %>
        <li>
            <%= course.title %> - <%= course.passed %>
            <ol>
                <% course.chapters.each do |chapter| %>
                    <li>
                        <div>
                            <a href="/courses/<%=course.id%>/chapters/<%=chapter.id%>"><%= chapter.title %> - <%= chapter.passed%></a>
                            <ol> 
                                <% chapter.lessons.each do |lesson| %>
                                    <li><a href="courses/<%=course.id%>/chapters/<%=chapter.id%>/lessons/<%=lesson.id%>"><%= lesson.title%> - <%= lesson.passed %></a></li>
                                <% end %>
                            </ol>
                        <div>
                    </li>
                <% end %>  
            </ol>
        </li>
    <% end %>
</ol>
<% else %>
  <span>No course added yet.</span>
<% end %>
