<h1><%=@course.title%></h1>
<ul>
  <%@course.chapters.each do |chapter|%>
    <li><a href="/chapters/<%=chapter.id%>"><%=chapter.title%>-<%=chapter.passed%></a></li>
    <ul>
    <%chapter.lessons.each do |lesson|%>
        <li><a href="/lessons/<%=lesson.id%>"><%=lesson.title%></a></li>
    <% end %>
    </ul>
  <% end %>
</ul>