<script>
function searchCourses(str){
  alert(str)
  let allRows=document.getElementsByClassName("tr")
  var xmlhttp = new XMLHttpRequest();
  while( allRows[0] ) {
      allRows[0].parentNode.removeChild( allRows[0] );
  }
 
      xmlhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
              console.log("MEN NI WI MANMAN:"+this.responseText);
              arrayOfResults=JSON.parse(this.responseText);
              let table=document.getElementById("courseSearchResults")
              console.log(table)
              
              
              

              arrayOfResults.forEach((function(course){
                  let tr=document.createElement("tr");
                  tr.className="tr";
                  let td1=document.createElement("td");
                  let td2=document.createElement("td");
                  let td3=document.createElement("td");
                  let td4=document.createElement("td");
                  let td5=document.createElement("td");
                  let td6=document.createElement("td");
                  
                  let viewLink=document.createElement("a")
                  viewLink.href=`#`
                  viewLink.innerText="View"
                  viewLink.className="btn btn-success";
                  viewLink.setAttribute("data-title",`${course.title}`);
                  viewLink.setAttribute("data-id",`${course.id}`);
                  viewLink.setAttribute("onclick","fillCourseModal(this,'view')");
                  viewLink.setAttribute("data-toggle","modal");
                  viewLink.setAttribute("data-target","#modalCourse");
                  

                  let editLink=document.createElement("a")
                  editLink.href=`#`
                  editLink.innerText="Edit"
                  editLink.className="btn btn-secondary"

                  editLink.setAttribute("data-title",`${course.title}`);
                  editLink.setAttribute("data-id",`${course.id}`);
                  editLink.setAttribute("onclick","fillCourseModal(this,'edit')");
                  editLink.setAttribute("data-toggle","modal");
                  editLink.setAttribute("data-target","#modalCourse");

                  let deleteLink=document.createElement("a")
                  deleteLink.href=`#`
                  deleteLink.innerText="Delete"
                  deleteLink.className="btn btn-danger"

                  deleteLink.setAttribute("data-title",`${course.title}`);
                  deleteLink.setAttribute("data-id",`${course.id}`);
                  deleteLink.setAttribute("onclick","fillCourseModal(this,'delete')");
                  deleteLink.setAttribute("data-toggle","modal");
                  deleteLink.setAttribute("data-target","#modalCourse");

                  td1.innerHTML=course.id; 
                  td2.innerHTML=course.title; 
                  td3.innerHTML=course.chapters_count;
                  td4.appendChild(viewLink)
                  td5.appendChild(editLink)
                  td6.appendChild(deleteLink)
                  
                  tr.appendChild(td1);
                  tr.appendChild(td2);
                  tr.appendChild(td3);
                  tr.appendChild(td4);
                  tr.appendChild(td5);
                  tr.appendChild(td6);

                  
                  table.appendChild(tr);

                  
              }))

              table.className="table table-striped table-sm"
          }
      };

      if (str.length<=0){
          str="all"
      }
  
   let url=`/admin/search/courses/${str}`
  xmlhttp.open("GET",url, true);
  xmlhttp.send();
}

function fillCourseModal(element,state){
  let title=element.dataset.title;
  let id=element.dataset.id; 
  let modalCourseTitle=document.getElementById("modalCourseTitle")
  let modalCourseSave=document.getElementById("modalCourseSave");
  let modalCourseSubmit=document.getElementById("modalCourseSubmit");
  let modalCourseMethod=document.getElementById("modalCourseMethod");
  modalCourseSubmit.innerHTML=""

  let modalCourseForm=document.getElementById("modalCourseForm");
  let modalTitle=document.getElementById("modalTitle");


  modalTitle.innerHTML=`COURSE ID: ${id}`;
  modalCourseTitle.value=`${title}`

  if(state=="view"){
    modalCourseTitle.readOnly=true;
    modalCourseSubmit.style.display="none";
    modalCourseSave.style.display="none";
   
  }else if(state==="edit"){
    modalCourseTitle.readOnly=false;
    modalCourseSubmit.style.display="inline-block";
    modalCourseSubmit.value="Edit"
    modalCourseSave.style.display="none";
    modalCourseForm.setAttribute("method",`POST`)
    modalCourseForm.setAttribute("action",`/admin/courses/${id}`)
    modalCourseMethod.value="patch"
  }else if(state==="delete"){
    modalTitle.innerHTML=`Delete Course?`;
    modalCourseTitle.readOnly=true;
    modalCourseSubmit.style.display="inline-block";
    modalCourseSubmit.value="Confirm"
    modalCourseSave.style.display="none";
    modalCourseForm.setAttribute("method",`POST`)
    modalCourseForm.setAttribute("action",`/admin/courses/${id}`)
    modalCourseMethod.value="delete"
  }

}
</script>
<div style="margin-top:40px">
<h1>Courses</h1>
<div class="table-responsive">
        <table id="courseSearchResults" class="table table-striped table-sm">
          <thead>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Number Of Chapters</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody className="tbody">
          <% @courses.each do |course| %>
            <tr class="tr">
                <td><%= course.id %></td>
                <td><%= course.title %></td>
                <td><%= course.chapters.count %></td>
                <td>
                    <a class="btn btn-success" data-id="<%= course.id %>" data-title="<%= course.title %>" onClick="fillCourseModal(this,'view')" data-toggle="modal" data-target="#courseModal" href="#">View</a>
                    <a class="btn btn-secondary" data-id="<%= course.id %>" data-title="<%= course.title %>" onClick="fillCourseModal(this,'edit')" data-toggle="modal" data-target="#courseModal" href="#">Edit</a>
                    <button class="btn btn-danger" data-id="<%= course.id %>" data-title="<%= course.title %>" onClick="fillCourseModal(this,'delete')" data-toggle="modal" data-target="#courseModal">Delete</button>
                </td>
            </tr>
          <% end %>
          </tbody>
    </table>
</div>
</div>
<div class="modal fade" id="courseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="modalTitle" class="modal-title" id="modalTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="modalCourseForm">
          <input type="hidden" id="modalCourseMethod" name="_method" value="PATCH"/>
          <div class="form-group">
            <input type="hidden" name="id" id="modalCourseId">
          </div>
          <div class="form-group">
          <label for="title">Title:</label>
          <input id="modalCourseTitle"class="form-control" id="title" type="text" name="title">
          </div>
          <input id="modalCourseSubmit" type="submit" class="btn btn-primary" value="Submit"/>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="modalCourseSave" onClick="saveUser()" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
  <form  method="POST" action="/admin/courses">
  <h3>Add A New Course</h3>
  <div class="form-group">
  <label for="title">Title:</label>
  <input class="form-control" type="text" name="title">
  </div>
  <input type="submit" class="btn btn-primary" value="Submit"/>
</form>
</div>
</div>
